.chat-main
  .main-header
    .main-header__group
      %p.main-header__group__name
        = @group.name
      %ul.main-header__group__member
        %li.main-header__group__member__members
          Member : 
        %li.main-header__group__member__list
        - @group.users.each do|user|
          = user.name

    .main-header__edit
      = link_to edit_group_path(@group), class: "btn" do
        Edit
  .message
    = render @messages
   
  .form
    = form_for [@group, @message] do |f|
      .input_box
        = f.text_field :content, class: 'input_box__text', placeholder: 'type a message'
        = f.label :image, class: 'input_box__image' do
          = icon('fas', 'image')
          = f.file_field :image, class: 'input_box__image__file'
      = f.submit 'Send', class: 'submit-btn'